$color-primary: #132a13;
$color-primary-dark: #31572c;
$color-primary-light: #4f772d;

$color-grey-light-1: #f7f7f7;

$text-color: #000;
$color-white: #fff;
$color-black: #000;

$font-stack: "Sora", sans-serif;
